!!! 5
%html{lang: "en"}
  %head
    - current_page.data.description = "Compare #{data.features.devops_tools[key_one].name} vs. GitLab"
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"
      = partial 'includes/devops-tools/carousel/modal.html.haml'

      .blank-header.padding-top50
        = image_tag "/images/devops-tools/bars-left.png", class: "image-border image-border-left margin-top40", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/devops-tools/bars-right.png", class: "image-border image-border-right margin-top40", alt: "Gitlab hero border pattern right svg"
        = image_tag "/images/devops-tools/background-wave.png", class: "image-border image-border-right wave-image"
        .header-content
          .tool-name
            GitLab
          .vs-wrapper
            .rhombus-shape.red-color
            .vs-text
              vs
            .rhombus-shape.white-color
          .tool-name
            = data.features_v2.devops_tools[key_one].name
        .subtitle
          Comparison Guide
        .row.margin-top20
          = image_tag "/images/devops-tools/accelerated-strategies.png", class: "accelerated-img"
          .conducted-by.margin-bottom10
            :markdown
              Capability Comparison conducted by Accelerated Strategies Group, an **independent third party organization.**

      .comparison-container.container.padding0.white-bg
        .comparison-page-content.col-sm-12.padding0
          = yield_content(:comparison_table)

      .content-container.text-center.top-border.blue-text
        .container
          = yield_content(:pdf_download)

      .content-container.padding-top0
        .container.white-bg
          = yield_content(:recommendation)

      .content-container.padding-vertical0.white-bg
        .container
          = yield_content(:advantage)

      .content-container.padding-vertical0.gray-bg
        .container
          = yield_content(:see_in_action)

      .content-container.white-bg
        .container
          = yield_content(:webinar)

      .content-container.padding-vertical0.gray-bg
        .container
          = yield_content(:reviews)

      .content-container.white-bg
        .container
          = yield_content(:cta)

      .content-container.padding-vertical0.gray-bg
        .container
          = yield_content(:case_studies)

      .footer-container.fixed
        = image_tag "/images/devops-tools/footer-bars-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/devops-tools/footer-bars-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
        .row.justify-center.padding-vertical20
          .text
            Full Comparison Guide in PDF
          = link_to "Download", "/resources/gitlab-vs-atlassian/", class: "button cta-btn"

      .footer-container
        = partial "includes/layout/footer"
