---
layout: default
title: Version control
description: "Version control software is used to track revisions, solve integration conflicts in code, and manage different artifacts involved in software projects."
suppress_header: true
extra_css:
  - devops.css
  - agile-delivery.css
extra_js:
  - libs/on-scroll.js
  - in-page-nav.js
  - all-clickable.js
canonical_path: "/agile-delivery/"
---
.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/version-control/version-control.svg", class: "hero-image-huge", alt: "GitLab version control graphic"
    %h1 Version control
    %a.btn.cta-btn.orange.devops-cta{ href: "https://about.gitlab.com/webcast/collaboration-without-boundaries?utm_source=topicpage&utm_campaign=vccusecase" } Register for a Live Webcast: Collaboration without Boundaries

.wrapper.wrapper--large-fonts
  #content.devops-content.u-margin-top-md
    .wrapper.container.js-in-page-nav-group{role: "main"}
      .row.u-margin-top-lg.js-in-page-nav-section#what-is-version-control
        .col-md-10.col-md-offset-1
          %h2.u-text-brand What is version control?

          %p Version control is software used to track revisions, solve integration conflicts in code, and manage different artifacts involved in software projects (e.g. design, data, images). Version control also enables frictionless communication, change, and reproducibility between team members.

          %blockquote.blockquote-alt.cicd-blockquote
            %b Version control
            enables teams to collaborate and streamline development to resolve conflicts and create a centralized location for code.

          %p With version control, you’re able to track and merge branches, audit changes, and enable concurrent work to accelerate software delivery. Version control is flexible and versatile to adapt seamlessly to the structure of a DevOps org, the product architecture, and every release model. Simultaneously, it reduces inherent complexity with centralized, user-friendly project management dashboards. Using version control results in remarkable team productivity and software quality improvements.

      .row.u-margin-top-lg.js-in-page-nav-section#why-use-version-control
        .col-md-10.col-md-offset-1
          %h2.u-text-brand Why use version control?

          %p Software is developed to solve a user problem. Increasingly, these solutions have many different forms (e.g. mobile, embedded, SaaS) and run a variety of environments, such as cloud, on-prem, or Edge. As organizations accelerate delivery of their software solutions through DevOps, controlling and managing different versions of application artifacts - from code to configuration and from design to deployment - becomes increasingly difficult. Velocity without robust version control and traceability is like driving a car without a seatbelt.

          %p Version control facilitates coordination, sharing, and collaboration across the entire software development team. Version control software enables teams to work in distributed and asynchronous environments, manage changes and versions of code and artifacts, and resolve merge conflicts and related anomalies.


      .row.u-margin-top-lg.js-in-page-nav-section#benefits-of-version-control
        .cta-featured-grid
          .row.u-margin-bottom-md
            .col-md-10.col-md-offset-1
              %h2.u-text-brand Benefits of version control
              .featured-icons.text-center
                .featured-icon
                  = partial "/images/icons/computer-test2.svg"
                  %p.number Quality
                  %p.description Teams can review, comment, and improve each other’s code and assets.
                .featured-icon
                  = partial "/images/icons/pillar-speed-alt.svg"
                  %p.number Acceleration
                  %p.description Branch code, make changes, and merge commits faster.
                .featured-icon
                  = partial "/images/icons/first-look-influence.svg"
                  %p.number Visibility
                  %p.description Understand and spark team collaboration to foster greater release build and release patterns.


      .row.u-margin-top-sm.js-in-page-nav-section#best-version-control-software
        .col-md-10.col-md-offset-1
          %h2.hidden Which is the best?
          %h2.u-text-brand Which is the best version control software?

          %p There are several source code management options that can help your team streamline development. The three most well-known options are Git, SVN, and Mercurial.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object{ style: "width: 80px; height: 80px" }
                = image_tag "/images/icons/logo-git.svg"

            .media-body.media-middle
              %h3.u-margin-top-0 Git

              %p.u-margin-bottom-0 Git is the most popular option and has become synonymous with “source code management.” Git is an open source distributed system that is used for projects of any size, making it a popular option for startups, enterprise, and everything in between.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object{ style: "width: 80px; height: 80px;" }
                = image_tag "/images/icons/logo-svn.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Subversion

              %p.u-margin-bottom-0 SVN is a widely adopted centralized version control system. This system keeps all of a project's files on a single codeline making it impossible to branch, so it’s easy to scale for large projects. It’s simple to learn and features folder security measures, so access to subfolders can be restricted.

          .media.u-margin-top-sm.u-margin-bottom-md.has-shadowed-svg
            .media-left.media-middle.u-padding-right-sm
              .media-object{ style: "width: 80px; height: 80px;" }
                = image_tag "/images/icons/logo-mercurial.svg"
            .media-body.media-middle
              %h3.u-margin-top-0 Mercurial

              %p.u-margin-bottom-0 Mercurial is a distributed version control system that offers simple branching and merging capabilities. The system enables rapid scaling and collaborative development, with an intuitive interface. The flexible command line interface enables users to begin using the system immediately.


      .row.u-margin-top-lg.js-in-page-nav-section#resources
        .col-md-10.col-md-offset-1

          %h2.u-text-brand Resources

          %p Here’s a list of resources on version control that we find to be particularly helpful in understanding version control and implementation. We would love to get your recommendations on books, blogs, videos, podcasts and other resources that tell a great version control story or offer valuable insight on the definition or implementation of the practice.

          %p
            Please share your favorites with us by tweeting us
            %a{:href => 'https://twitter.com/gitlab'} @GitLab!

          .feature-group.feature-group--alt.u-margin-top-lg.u-padding-top-0.u-padding-bottom-0
            .row.flex-row
              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/15-tips.jpg"
                  .feature-body
                    %h3.feature-title 15 Git tips to improve your workflow
                    %p.feature-description Learn how to compare commits, delete stale branches, and write aliases to save you some time. It's time to dust off your command line and Git busy!
                    = link_to "Read", "/blog/2020/04/07/15-git-tips-improve-workflow/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/problem-git-flow.jpg"
                  .feature-body
                    %h3.feature-title The problem with Git flow
                    %p.feature-description Learn why Git flow complicates the lifecycle and discover an alternative to streamline development.
                    = link_to "Read", "/blog/2020/03/05/what-is-gitlab-flow/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/partial-clone.jpg"
                  .feature-body
                    %h3.feature-title How Git Partial Clone lets you fetch only the large file you need
                    %p.feature-description Work faster with this experimental Partial Clone feature for huge Git repositories, saving you time, bandwidth, and storage, one large file at a time.
                    = link_to "Read", "/blog/2020/03/13/partial-clone-for-massive-repositories/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/gitlab-workflow.jpg"
                  .feature-body
                    %h3.feature-title GitLab Workflow: An Overview
                    %p.feature-description The software development lifecycle in one single interface!
                    = link_to "Read", "/blog/2016/10/25/gitlab-workflow-an-overview/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/demo-mastering-code-review.jpg"
                  .feature-body
                    %h3.feature-title Demo: Mastering code review with GitLab
                    %p.feature-description Code review shouldn't be a burden, it should make your team better and faster so you can keep delivering new features on time.
                    = link_to "Read", "/blog/2017/03/17/demo-mastering-code-review-with-gitlab/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/2019-vision.jpg"
                  .feature-body
                    %h3.feature-title GitLab's 2019 product vision for DevOps Create
                    %p.feature-description Take an early look at where collaboration, merge requests, and the Web IDE are heading in 2019.
                    = link_to "Read", "/blog/2018/09/21/create-vision/#code-review-and-approvals", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/gitlab-flow.jpg"
                  .feature-body
                    %h3.feature-title GitLab flow
                    %p.feature-description This article offers a simple, transparent and effective way to work with git.
                    = link_to "Read", "/blog/2014/09/29/gitlab-flow/", class: "feature-more"

              .col-md-4.col-lg-4.u-margin-bottom-sm
                .feature.js-all-clickable
                  .feature-media
                    = image_tag "/images/version-control/11-rules.jpg"
                  .feature-body
                    %h3.feature-title The 11 Rules of GitLab Flow
                    %p.feature-description These 11 rules will simplify the process and produce a cleaner, more efficient outcome.
                    = link_to "Read", "/blog/2016/07/27/the-11-rules-of-gitlab-flow/", class: "feature-more"


        .col-md-10.col-md-offset-1


          .resource-block.resource-block--webpages
            %h3.block-title Webpages

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  = link_to "Source code management with GitLab", "/stages-devops-lifecycle/source-code-management/"


          .resource-block.resource-block--videos
            %h3.block-title Videos

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  %a{ href: "https://youtu.be/UuX-GnYWNwo" } How is software made?
              %li.resource-list-item
                %h4.resource-title
                  %a{ href: "https://www.youtube.com/watch?v=InKNIvky2KE&feature=youtu.be" } GitLab Flow


          .resource-block.resource-block--casestudies
            %h3.block-title Case studies

            %ul.resource-list.list-unstyled
              %li.resource-list-item
                %h4.resource-title
                  = link_to "Goldman Sachs improves from 1 build every two weeks to over a thousand per day", "/customers/goldman-sachs/"
              %li.resource-list-item
                %h4.resource-title
                  = link_to "Connecting the cosmos with Earth - How the European Space Agency uses GitLab to focus on space missions", "/customers/european-space-agency/"
              %li.resource-list-item
                %h4.resource-title
                  = link_to "Worldline improves code reviews’ potential by 120x", "/customers/worldline/"
