To help us stay on track with [Development KPIs](/handbook/business-ops/data-team/metrics/#development-department-kpis), we track this in our <a href="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_source_code_fe"}], visible: ["development_section", "team"] ) %>">metrics dashboard</a>:

<embed width="100%" height="100%" style="min-height:400px;" src="<%= signed_periscope_url(dashboard: 681347, embed: 'v2', filters: [{name: "development_section", value: "dev"},{name: "team", value: "create_source_code_fe"}]) %>">
