---
layout: comparison_page_v2
trial_bar: false
description: "This page compares the features of GitLab software to non-GitLab software. Review the pros and cons of each to help make your decision easier."
suppress_header: true
image_title: '/images/devops-tools/title_image.png'
extra_css:
  - release-posts.css
  - comparison-page-v2.css
  - carousel.css

extra_js:
  - comparison-v2.js
  - bootstrap-tooltip.js
  - carousel.js
---

- use_cases = data.features_v2.use_cases
- product_one = data.features_v2.devops_tools[key_one]
- product_gitlab = data.features_v2.devops_tools[key_two]
- product_summary_max_length = 42
- empty_use_case_object = {:score => 0, :title => 'Not supported', :summary => '-', :description => ''}
- empty_use_case = Struct.new(*empty_use_case_object.keys).new(*empty_use_case_object.values)

- content_for(:title){ product_one.name + " vs. GitLab" }

- content_for :comparison_table do
  .comparison-container.container.padding0.white-bg
    .comparison-page-content.col-sm-12.padding0
      %table.compare-table.margin-bottom0
        %colgroup
          %col{:width => "30%"}
          %col{:width => "35%"}
          %col{:width => "35%"}
        %thead
          %tr
            %th.text-left.table-title
              Overall Rating
              .table-title-details.padding-top10
                Compares the highest featured versions of both vendors.
            %th.text-left
              .table-title-logo
                = image_tag "/images/devops-tools/gitlab-logo.svg", alt: "GitLab", class: "logo"
                .row.padding-top20
                  .score-box{:score => product_gitlab.score}
            %th.text-left
              .table-title-logo
                - if (product_one.logo != "null")
                  = image_tag "#{product_one.logo}", alt: "#{product_one.name}", class: "logo"
                - else
                  = product_one.name
                .row.padding-top20
                  .score-box{:score => product_one.score}
        %tbody
          - use_cases.each do |use_case|
            - next if (product_one.suppress_use_cases && product_one.suppress_use_cases.include?(use_case.identifier)) || (product_gitlab.suppress_use_cases && product_gitlab.suppress_use_cases.include?(use_case.identifier))
            - product_gitlab_use_case = product_gitlab.use_cases[use_case.identifier] || empty_use_case
            - product_one_use_case =  product_one.use_cases[use_case.identifier] || empty_use_case
            %tr.use-case-row.use-case-expanded
              %td.vertical-align-middle
                .row
                  .toggle-use-case
                  = use_case.title
              %td
                .row
                  .score-box{:score => product_gitlab_use_case.score}
                  .column.align-start
                    .product-use-case-title
                      = product_gitlab_use_case.title
                    - if product_gitlab_use_case.score > 0
                      .product-use-case-summary
                        = product_gitlab_use_case.summary
              %td
                .row
                  .score-box{:score => product_one_use_case.score}
                  .column.align-start
                    .product-use-case-title
                      = product_one_use_case.title
                    - if product_one_use_case.score > 0
                      .product-use-case-summary
                        = product_one_use_case.summary
            - use_case.items.each do |sub_use_case|
              - product_gitlab_sub_use_case = product_gitlab_use_case == empty_use_case || !product_gitlab_use_case.items[sub_use_case.identifier] ? empty_use_case : product_gitlab_use_case.items[sub_use_case.identifier]
              - product_one_sub_use_case = product_one_use_case == empty_use_case || !product_one_use_case.items[sub_use_case.identifier] ? empty_use_case : product_one_use_case.items[sub_use_case.identifier]
              %tr.sub-use-case-row.sub-use-case-collapsed
                %td
                  .column
                    .row
                      .toggle-sub-use-case
                      = sub_use_case.title
                    .sub-use-case-extra
                      = sub_use_case.description
                %td
                  .column.align-left
                    .row
                      .score-box{:score => product_gitlab_sub_use_case.score}
                      .column
                        .product-use-case-title
                          = product_gitlab_sub_use_case.title
                        - if product_gitlab_sub_use_case.score > 0
                          .product-use-case-summary
                            = product_gitlab_sub_use_case.description.length > product_summary_max_length ? "#{product_gitlab_sub_use_case.description[0..product_summary_max_length]} (...)" : product_gitlab_sub_use_case.description
                    .sub-use-case-extra.align-with-title
                      = product_gitlab_sub_use_case.description
                %td
                  .column.align-left
                    .row
                      .score-box{:score => product_one_sub_use_case.score}
                      .column
                        .product-use-case-title
                          = product_one_sub_use_case.title
                        - if product_one_sub_use_case.score > 0
                          .product-use-case-summary
                            = product_one_sub_use_case.description.length > product_summary_max_length ? "#{product_one_sub_use_case.description[0..product_summary_max_length]} (...)" : product_one_sub_use_case.description
                    .sub-use-case-extra.align-with-title
                      = product_one_sub_use_case.description

- content_for :pdf_download do
  %p.margin-bottom-30
    Capability comparison conducted by Acclerated Strategies Group.
    %br
    Each vendor's highest featured version of the product was compared.  Rated on a 0 to 5 point scale.
  = link_to "Download PDF", "/resources/gitlab-vs-atlassian/", class: "comparison-download-btn shadow cta-btn"

- content_for :recommendation do
  = partial product_one.recommendation_file || 'includes/devops-tools/recommendation/default.html.haml'

- content_for :advantage do
  = partial product_one.advantage_file || 'includes/devops-tools/advantage/default.html.haml'

- content_for :see_in_action do
  - content = product_one.in_action || data.features_v2.default_content.in_action
  = partial('includes/devops-tools/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

- content_for :webinar do
  = partial product_one.webinar_file || 'includes/devops-tools/webinar/default.html.haml'

- content_for :reviews do
  - content = product_one.reviews || data.features_v2.default_content.reviews
  = partial('includes/devops-tools/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })

- content_for :cta do
  = partial product_one.cta_file || 'includes/devops-tools/cta/default.html.haml'

- content_for :case_studies do
  - content = product_one.case_studies || data.features_v2.default_content.case_studies
  = partial('includes/devops-tools/carousel/index.html.haml', :locals => { :title => content.title, :subtitle => content.subtitle, :items => content.items })
