---
layout: default
title: GitLab Pricing
description: "See the options to self-host GitLab or use GitLab.com."
canonical_path: "/pricing/"
suppress_header: true
extra_css:
  - pricing.css
---
.pricing-page
  .container
    .header
      %h1 Choose a plan that suits <br/> your needs
      %p All plans have unlimited collaborators and <br/> private or public repositories

    .row.flex-row.plans
      - data.pricing.plans.each_with_index do |plan, index|
        - free = plan.id == 'free'
        .col-md-3.plan
          .image= image_tag "pricing/#{plan.id}.svg"
          .content
            .title= plan.title
            .description= plan.description
            .price $#{plan.monthly_price}
            .price-monthly /user/month
            - unless free
              .price-annually (USD, billed annually at $#{plan.monthly_price * 12})
            .btn{ data: { target: "##{plan.id}-modal", toggle: 'modal' } }= free ? 'Start now' : 'Buy now'
          .features
            .feature-title= free ? 'Includes' : "All the benefits of #{data.pricing.plans[index - 1].title}&nbsp;+"
            %ul
              - plan.features.each do |feature|
                %li= feature
            .compare{ data: { target: '#compare-features-modal', toggle: 'modal' } } Compare features

    = partial 'includes/home/customer-logos-transparent'

    .row.faq
      %h2 Frequently asked questions
      .faq-holder
        - size = (data.pricing.questions.size / Float(2)).ceil
        - data.pricing.questions.each_slice(size) do |group|
          = partial 'includes/layout/question_group', locals: { group: group }

  .contact
    %h1 Still have questions? Get in touch.
    = link_to 'Contact Sales', '/sales/', class: 'btn'

  - data.pricing.plans.each do |plan|
    = partial 'modal', locals: plan_modal_options(plan)

  = partial 'modal', locals: compare_features_modal_options                                                    |
